<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Username</div>
      <div class="item item-body">
        <div>
          <center>
            <img src="http://placehold.it/350x350" alt="">
          </center>
        </div>
        <div class="row">
          <div class="col col-10">
            <button class="button button-clear">
              <i class="icon ion-ios-heart-outline"></i>
            </button>
          </div>
          <div class="col col-80">
            <button class="button button-clear">
              <i class="icon ion-ios-chatbubble-outline"></i>
            </button>
          </div>
          <div class="col col-10">
            <button class="button button-clear">
              <i class="icon ion-ios-more"></i>
            </button>
          </div>
      </div>
      </div>
      <div class="item-body">
        
        <button class="button button-clear">
          <i class="icon ion-ios-heart-outline"></i> 
          xxx likes
        </button>
    
        <div class="list">
          <p>username</p>
          <p>description</p>
        </div>
      </div>
 
  </ion-content>
</ion-view>
