<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-repeat="instaItem in instaData">
      <div class="item item-divider">
        <img ng-src="{{instaItem.user.profile_picture}}" width="25px" height="25px" alt="">
        
        <a href="#">{{instaItem.user.full_name}}</a>
      </div>
      <div class="item item-body">
        <div>
          <center>
            <img ng-src="{{instaItem.images.standard_resolution.url}}" alt="">
          </center>
        </div>
        <div class="row">
          <div class="col col-10">
            <button class="button button-clear">
              <i class="icon ion-ios-heart-outline"></i>
            </button>
          </div>
          <div class="col col-80">
            <button class="button button-clear">
              <i class="icon ion-ios-chatbubble-outline"></i>
            </button>
          </div>
          <div class="col col-10">
            <button class="button button-clear">
              <i class="icon ion-ios-more"></i>
            </button>
          </div>
      </div>
      </div>
      <div class="item-body">
        
        <button class="button button-clear">
          <i class="icon ion-ios-heart-outline"></i> 
          {{instaItem.likes.count}} likes
        </button>
        <div class="list">
          <p><a href="">{{instaItem.user.full_name}}</a> <span>{{instaItem.caption.text}}</span></p>
          <p><button ng-click="viewComments(instaItem.id)">view all {{instaItem.comments.count}} comments</a></p>
        </div>
      </div>

      <ul class="list" >
        <li ng-repeat="commentList in instaData">
          <a href="">{{commentList.comments.text}}</a> <span>{{commentList.comments.text}}</span>
        </li>
      </ul>  
 
  </ion-content>
</ion-view>
